// its just the footer, not much to see here, folks. maybe should have put it in global or styles, but this is where I put it
footer {
    background-color: $black;
    text-align: center;
    padding: 1% 0;
}
