// HEADER

header {
    min-height: 60vh;
    background-image: url(./Assets/homeHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.nav--top__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    padding-top: 30px;
}

.nav--top__li {
    padding: 15px 30px 15px 0;
}

.nav--top__li a {
    border-bottom: 2px solid transparent;
    padding: 5px;
}

.nav--top__li a:hover, .nav--top__li a:hover {
    border-bottom: 2px solid $accent;
}

.title {
    max-width: 35vw;
    display: flex;
    flex-grow: 0;
}
.image--floater {
    width: 50%;
    position: absolute;
    right: 0;
    top: 30%;
    max-height: 600px;
}