// main section styles

// ABOUT
.about {
    background-color: $primary;
    padding: 20vw 0 10vw 0;
    min-height: 80vh;
}

.about .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.aboutCard {
    width: 40vw;
    margin-bottom: 5%;
}

// prepended icons
.aboutCard__title i {
    color:$primary;
    background-color: $accent;
    background-position: center;
    margin-right: 20px;
    font-weight: 900;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

// sizing and centering icons
.fa-map-marker-alt {
    font-size: 3.5rem;
    padding: 12.5px 17px;
}

.fa-users {
    font-size: 3rem;
    padding: 15px 12px;
}

.fa-file {
    font-size: 3rem;
    padding: 15px 20px;
}

.fa-phone {
    font-size: 3rem;
    padding: 15px 15px;	
}

// indenting text
.aboutCard__text {
    padding-left: 100px;
    margin: 1% 0;
}

// BLOG
.blog {
    background-color: $secondary; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blogCard {
    width: 50%;
}

.blogCard img {
    width: calc(100% - 20px);
}

// move green mush to right side
.blogCard:nth-child(3) {
order: 4;
}

// float images out of section add box shadows

.blogCard__image--burger {
    box-shadow: 20px 20px $accent;
    transform: translateY(-7.5vh);
}

.blogCard02 {
    display: flex;
    justify-content: flex-end;
}

.blogCard__image--green {
    // bottom: -40%;
    // right: -20%;
    box-shadow: -20px 20px $accent;
    transform: translateY(7.5vh);
}

// Blog Section text
.blog p {
    margin-top: 5%;
}

.blogCard__text--burger {
    padding: 5% 7.5% 5% 5%;  
}

.blogCard__text--green {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 5% 5% 5% 7.5%;
}

.blogCard__content--burger {
    padding-bottom: 5%;
}

.blogCard__content--green {
    padding-bottom: 5%;
}

// Promo section
.promo{
    background-color: $primary;
    padding: 7.5vh 0 7.5vh 0;
}
.promoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7% 7% 0 7%;
}

.promo__content {
    padding: 5% 0 5% 0;    
}

// Nature section
.nature {
    background-color: $primary;
    padding-bottom: 5%;
}

.naturePhoto img{
    min-width: 98vw;
}

.natureContent {
    padding-top: 5%;
    // max-height: 60vh;
}

.nature__imageCard {
    width: 40%;
    float: left;
}

.nature__imageCard img {
    width: calc(100% - 20px);
    box-shadow: -20px 20px $accent;
}

.nature__text {
    width: 60%;
    float: left;
    padding-left: 5%;
}
.nature__title {
    text-align: left;
    line-height: 50px;
}

.nature_content {
    padding: 5% 0 5% 0;
}

// Gallery section
.gallery {
    background-color: $secondary;
    padding: 7% 0;
}

.gallery .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery__imgCard {
    width: calc(33% - 10px);
}


// Media queries for responsive design

// design started to break > 1080px on the main page, and >980 on blog and contact pages, so I chose to simplify the code by using just one break at 1080px

// since no mobile, tablet, etc.. designs were given, I chose to stick as closely as possible to the desktop design, but combined into one single column

@media (max-width: 1080px) {
    // ABOUT
    .about {
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
    }

    .aboutCard {
        width: 100%;
    }

    // BLOG
    .blog {
        flex-direction: column;
        align-items: center;
    }

    .blogCard {
        width: 85%;
    }

    // move green mush back in order
    .blogCard:nth-child(3) {
        order: 0;
    }

    .blogCard__image--green {
        transform: none;
    }

    // Blog Section text
    .blogCard__text--burger, .blogCard__text--green {
        padding:0 0 5% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .blogCard__text--green {
        padding-top: 7.5%;
    }

    // Promo section

    .promoCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        text-align: center;
    }

    .promo__content {
        padding: 5% 0 5% 0;    
    }

    // Nature section
    .natureContent {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nature__imageCard {
        // the resolution of this photo is low, so I didn't make it 100% because it looked awful
        width: 60%;
        float: none;
        padding-bottom: 7.5%;
    }

    .nature__text {
        width: 100%;
        float: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nature__title {
        text-align: center;
    }

    // I think the gallery section looks fine on smaller screens, so I left it
}