// TYPE STYLES

// these all seem bolder than the PSD, but font weights are taken exactly from the style sheet
// Line heigh was ridiculously larger in a few cases, so I lowered it from the style sheet to allow wrapping of text without looking weird, but added bottom margin to keep space between next section
h1, h2, h3, h4, h5, h6, button, a {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

h1{
  font-weight: 600;  
  font-size: 6.9rem;
  color: $white;
}

h1 span {
    display: inline-block;
    background-color: $white;
    color: $secondary;
    height: 6.9rem;
}

h2, h3, h4 {
    font-weight: 400;
    font-size: 4.5rem;
    color: $white
}

h4 {
    text-align: center;
    color: $accent;
}

h5 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 58px;
    letter-spacing: 1.3px;
    color: $white;
}

h6 {
    font-weight: 400;
    font-size: 2.5rem;
    
    letter-spacing: 0.8px;
    color: $accent;
}

button {
    font-weight: 400;
    font-size: 2.24rem;
    text-align: center;
    line-height: 41.6px;
    color: $secondary;
}

a { 
    font-weight: 700;
    font-size: 2rem;
    text-size-adjust: center;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: none;
    color: $white;
    // at some sizes the white text floats over white or yellow areas of the background images, so I added this shadow for readability, you can barely see it otherwise
    text-shadow: 2px 2px 2px $secondary;
    
}

p, footer a, .blog__sideNav, input, textarea, a.contactSidebar__email {
   font-family: 'Barlow', sans-serif;
   font-weight: 300;
   font-size: 2rem;
   line-height: 28px;
   letter-spacing: 1px;
   color: $white;
}
